body {
    margin: 0;
    padding: 0;

    height: 100vh;
    width: 100vw;

    display: flex;
}

div {
    border: 2px solid black;
    border-radius: 8px;

    padding: 8px;

    box-sizing: border-box;
}

#container {
    margin: 0;

    height: 100vh;
    min-width: 38vw;
    max-width: fit-content;
    display: flex;
    flex-direction: column;
    row-gap: 1vh;
    
    box-sizing: border-box;
    border: none;
}

#main {
    min-width: 100%;
    max-width: fit-content;
    height: 4vh;

    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 1vw;
}

#main > * {
    width: 25%
}

#other {
    min-width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    max-width: fit-content;
}

#steps {
    margin: 8px;
    padding: 0;
    overflow: hidden;
    flex-grow: 1;
}

table {
    border-collapse: collapse;
    width: 100%;
    border: 2px solid black;
    background-color: white;
}

tr:first-child {
    border-bottom: 1px solid black;
    font-weight: 900;
}

td {
    min-width: 5vw;
    text-align: center;
}

td:first-child {
    font-weight: 900;
}

#rflag {
    font-weight: 400;
}

input[type=text] {
    outline: none;
    text-align: center;
    text-transform: uppercase;
    box-sizing: border-box;
}

td > input[type=text] {
    width: 90%;
}

input[type=text]:invalid {
    border: 1.6px solid red;
    border-radius: 2px;
}

input[type=text]:not(:disabled) {
    flex-grow: 1;
}

input[type=text]:disabled {
    display: none;
}

button, select {
    box-sizing: border-box;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 2px;
    text-align: center;
    font-weight: bold;
    transition: all 0.2s;
}

button:hover {
    border-color: green;
    color: green;
}

select:hover {
    border-color: red;
}