body {
    margin: 0;
    padding: 0;

    height: 100vh;
    width: 100vw;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

div {
    border: 2px solid black;
    border-radius: 8px;

    padding: 8px;

    box-sizing: border-box;
    min-width: 560px;
    width: 36vw;
}

#main {
    position: absolute;

    left: 1vw;
    top: 1vh;
    
    height: 4vh;

    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 1vw;
}

#other {
    position: absolute;

    left: 1vw;
    top: 6vh;

    height: 92vh;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

table {
    border-collapse: collapse;
    /* margin: 16px; */
}

tr:first-child {
    border-top: 4px solid black;
    border-bottom: 2px solid black;
    font-weight: 900;
}

tr:last-child {
    border-bottom: 4px solid black;
}

td {
    min-width: 5vw;
    text-align: center;
}

td:first-child {
    font-weight: 900;
}

td {
    border: 2px solid black;
    padding-left: 4px;
    padding-right: 4px;
}

input[type=text] {
    outline: none;
    text-align: center;
    text-transform: uppercase;
}

input[type=text]:invalid {
    border: 0.5px solid red;
    border-radius: 2px;
}